<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/assets/style/bootstrap.min.css}"></link>
        <style>
          #login {
            max-width: 500px;
            width: 90%;
            margin: auto;
          }
          .btn-refresh-wrapper {
            width: 40px;
            height: 42px;
            padding: 2px;
          }
          .btn-refresh {
            width: 100%;
            background-image: url(/assets/img/refresh.svg);
            background-size: cover;
            height: 0;
            padding: 0;
            padding-bottom: 92%;
          }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1 class="text-center">Login</h1>
        <form id="login" method="POST">
            <input id="username" class="form-control my-2" name="username" placeholder="Username" />
            <input id="password" class="form-control my-2" name="password" type="password" placeholder="Password" />

            <img id="captcha-img" /> <div id="btn-refresh-captcha" class="btn-refresh-wrapper btn btn-light"><div class="btn-refresh"></div></div>
            <input id="captcha" class="form-control my-2" name="captcha" placeholder="CAPTCHA" />
            <input id="captchaId" type="hidden" />
            <button class="btn btn-info my-2" type="submit">Login</button> <span id="message"></span>
        </form>

        <script th:inline="javascript">
            let $form = document.getElementById("login");
            let $username = document.getElementById("username");
            let $password = document.getElementById("password");
            let $captcha = document.getElementById("captcha");
            let $captchaId = document.getElementById("captchaId");
            let $captchaImg = document.getElementById("captcha-img");
            let $btnRefreshCaptcha = document.getElementById("btn-refresh-captcha");
            let $message = document.getElementById("message");

            $form.addEventListener("submit", (e) => {
                e.preventDefault();
                axios.post('/login', {
                    username: $username.value,
                    password: $password.value,
                    captcha: {
                        id: $captchaId.value,
                        value: $captcha.value
                    }
                }).then(() => {
                    const callbackUrl = new URL(window.location.href).searchParams.get('callbackUrl') ||
                        '/home';
                    window.location.href = callbackUrl;
                }).catch(e => {
                    getCaptcha();
                    const msg = "<div>" + e.response.data.messages.map(e => e.messageCode).join("</div><div>") + "</div>";
                    $message.innerHTML = msg;
                });
            });

            function getCaptcha() {
                axios.get('/captcha').then((res) => {
                    $captchaImg.src = res.data.image;
                    $captchaId.value = res.data.id;
                }).catch(e => {
                    alert('Can\'t load captcha');
                });
            }
            getCaptcha();
            $btnRefreshCaptcha.addEventListener('click', getCaptcha);
        </script>
   </body>
</html>
