<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Reset password</title>
    <link rel="stylesheet" th:href="@{/assets/style/bootstrap.min.css}"></link>
    <style>
          #form {
            max-width: 500px;
            width: 90%;
            margin: auto;
          }
          .btn-refresh-wrapper {
            width: 40px;
            height: 42px;
            padding: 2px;
          }
          .btn-refresh {
            width: 100%;
            background-image: url(/assets/img/refresh.svg);
            background-size: cover;
            height: 0;
            padding: 0;
            padding-bottom: 92%;
          }
        </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<h1 class="text-center">Reset password</h1>
<form id="form" method="POST">
    <input id="password" class="form-control my-2" name="password" type="password" placeholder="Password" />
    <input id="rePassword" class="form-control my-2" name="rePassword" type="password" placeholder="RePassword" />

    <img id="captcha-img" /> <div id="btn-refresh-captcha" class="btn-refresh-wrapper btn btn-light"><div class="btn-refresh"></div></div>
    <input id="captcha" class="form-control my-2" name="captcha" placeholder="CAPTCHA" />
    <button class="btn btn-info my-2" type="submit">Reset password</button> <span id="message"></span>
</form>

<script th:inline="javascript">
            let $form = document.getElementById("form");
            let $password = document.getElementById("password");
            let $rePassword = document.getElementById("rePassword");
            let $captcha = document.getElementById("captcha");
            let $captchaImg = document.getElementById("captcha-img");
            let $btnRefreshCaptcha = document.getElementById("btn-refresh-captcha");
            let $message = document.getElementById("message");

            $form.addEventListener("submit", (e) => {
                e.preventDefault();
                const url = window.location.href;
                axios.post(url, {
                    password: $password.value,
                    rePassword: $rePassword.value,
                    captcha: $captcha.value
                }).then(() => {
                    window.location.href = '/login';
                }).catch(e => {
                    getCaptcha();
                    const msg = "<div>" + e.response.data.messages.map(e => e.messageCode).join("</div><div>") + "</div>";
                    $message.innerHTML = msg;
                });
            });

            function getCaptcha() {
                axios.get('/captcha-reset-password').then((res) => {
                    $captchaImg.src = "data:image/png;base64," + res.data;
                }).catch(e => {
                    alert('Can\'t load captcha');
                });
            }
            getCaptcha();
            $btnRefreshCaptcha.addEventListener('click', getCaptcha);
        </script>
</body>
</html>
